<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QobuzMusicDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DABMusicDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QobuzMusicDownloader.Properties.Settings>
            <setting name="BaseURL" serializeAs="String">
                <value>https://qqdl.site/api</value>
            </setting>
            <setting name="DownloadLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ConcurrentDownloads" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SearchPageLimit" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DownloadQuality" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
        </QobuzMusicDownloader.Properties.Settings>
        <DABMusicDownloader.Properties.Settings>
            <setting name="BaseURL" serializeAs="String">
                <value>https://us.qqdl.site/api</value>
            </setting>
            <setting name="DownloadLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ConcurrentDownloads" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SearchResultLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DownloadQuality" serializeAs="String">
                <value>27</value>
            </setting>
        </DABMusicDownloader.Properties.Settings>
    </userSettings>
</configuration>